<!DOCTYPE html>
<html>
<head>
	<title>Statistics</title>
	<meta charset="utf-8" />
	<link href="css/style.css" rel="stylesheet" />
	<link rel="stylesheet" type="text/css" href="css/style.css" />
</head>
<body>

<header id="sidebar">
	<div class="icon-bar vertical six-up">
		<a class="item" id="menu_item_commits">
			<img src="..." />
			<label>Commits</label>
		</a>
		<a class="item" id="menu_item_files">
			<img src="..." />
			<label>Files</label>
		</a>
		<a class="item" id="menu_item_lines">
			<img src="..." />
			<label>Lines</label>
		</a>
	</div>
</header>

<article id="content">
	<h1>Title</h1>
	<section>Javascript required</section>
</article>

<script src="data.js" type="text/javascript" charset="utf-8"></script>
<script src="js/dygraph-combined.js" type="text/javascript" charset="utf-8"></script>
<script src="js/ui.js" type="text/javascript" charset="utf-8"></script>

</body>
</html>
