@charset "UTF-8";

// Foundation
@import
	//"foundation/components/grid",
	"foundation/components/sub-nav",
	"foundation/components/type",
	"foundation/components/icon-bar";

html, body {
	width: 100%;
	height: 100%;
}

body {
	margin: 0 auto;
}

h1 {
	margin-top: 0;
	cursor: pointer;
}

#sidebar {
	width: 125px;
	height: 100%;
	float: left;
	position: fixed;
	top: 0px;
	bottom: 0px;
	left: 0px;

	#sidebar .icon-bar {
		width: 125px;
	}
}

#content {
	height: 100%;
	margin-left: 125px;

	h1, section {
		margin-left: 20px;
		margin-right: 20px;
	}
}

.graph {
	height: 400px;
}

.icon-bar > .item.active {
	background: #008CBA !important;
}
