<!DOCTYPE html>
<html>
<head>
	<title>Statistics</title>
	<meta charset="utf-8" />
	<link href="css/style.css" rel="stylesheet" />
	<link rel="stylesheet" type="text/css" href="css/style.css" />
</head>
<body>

<nav id="sidebar">
	<div class="icon-bar vertical six-up">
		<a class="item" href="#tab_commits">
			<img src="img/commits.png" />
			<label>Commits</label>
		</a>
		<a class="item" href="#tab_files">
			<img src="img/files.png" />
			<label>Files</label>
		</a>
		<a class="item" href="#tab_lines">
			<img src="img/lines.png" />
			<label>Lines</label>
		</a>
		<a class="item" href="#tab_changes">
			<img src="img/changes.png" />
			<label>Changes</label>
		</a>
	</div>
</nav>

<header>
	<h1>Title</h1>
</header>

<article id="filter">
</article>

<article id="content">
	<div class="panel">
		<p>Javascript required</p>
	</div>
</article>

<script src="data.js" type="text/javascript" charset="utf-8"></script>
<script src="js/dygraph-combined.js" type="text/javascript" charset="utf-8"></script>
<script src="js/ui.js" type="text/javascript" charset="utf-8"></script>

</body>
</html>
